.typeahead {
  position: relative;
  display: block;
  background: #fff;
}

.typeahead-open {
  border-bottom: 0;
}

.typeahead-open .form-control {
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid #f2f2f2;
}

.typeahead-inner {
  position: relative;
}

.typeahead-selected {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 15px;
}

.typeahead-dropdown {
  width: 100%;
  position: absolute;
  z-index: 45;
  padding: 5px;
  background: #fff;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.typeahead-input {
  line-height: 13px;
  font-size: 13px;
  background: #fafafa;
  border: none;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  width: 100%;
  display: block;
}

.typeahead-input:focus {
  outline-style: dotted;
  outline-width: 1px;
  outline-offset: 1px;
}

.typeahead-input_wrap {
  position: relative;
}

.typeahead-list {
  display: block;
  margin: 0;
  padding: 0;
}

.typeahead-item {
  display: block;
  margin-bottom: 1px;
}

.typeahead-link {
  cursor: pointer;
  display: block;
  padding: 2px;
  background: #fff;
}

.typeahead-active {
  background: #3aa3e3 !important;
  color: #fff;
}

